<!DOCTYPE html>
<html>
<head>
  <title>Trip Recommendation - Aviation</title>
  <link rel="stylesheet" type="text/css" href="static/styles.css"/>
</head>
<body>

  <div class="header-container">
    <h1>Aviation</h1>

    <div class="buttons">
      <a href="/" button class="button">Home</a>
      <a href="/airports" class="button">Airport Search</a>
      <a href="/airlines" class="button">Airline Search</a>
      <a href="/aggregation" class="button">Airline Aggregation</a>
      <a href="/recoomendation" class="button">Trip Recommendation</a>
    </div>
  </div>

  <header class = "sub-header">Book your flight with Aviation</header>

  <p class = "sub-bodytext">1,480,086 airports around the world are waiting for you!</p>

  <div class="search-container">
    <h2 class="search-header">Search for Flight Information</h2>
    <div class="input-row">
      <div class="input-box">
        <label for="airport-location">Location:</label>
        <input type="text" id="airport-location" name="airport-location">
      </div>
      <div class="input-box">
        <label for="check-in">Check-In:</label>
        <input type="text" id="check-in" name="check-in">
      </div>
      <div class="input-box">
        <label for="check-out">check-out:</label>
        <input type="text" id="check-out" name="check-out">
      </div>
      <div class="input-box">
        <label for="stops">Stops:</label>
        <input type="text" id="stops" name="stops">
      </div>
    </div>
    <button class="go-button">Go</button>
  </div>

  <h3>Popular Destinations</h3>

  <div class="rec-image-container">
    <div class="vertical-container">
      <img src="https://cpts415aviation.xinruli1.repl.co/static/Amsterdam.jpg">
    </div>

    <div class="vertical-container">
      <div class="horizontal-container">
        <img src="https://cpts415aviation.xinruli1.repl.co/static/Dubai.jpg">
        <img src="https://cpts415aviation.xinruli1.repl.co/static/Barcelona.jpg">
      </div>
    </div>

    <div class="vertical-container">
      <img src="https://cpts415aviation.xinruli1.repl.co/static/Tokyo.jpg">
    </div>

    <div class="vertical-container">
      <div class="horizontal-container">
        <img src="https://cpts415aviation.xinruli1.repl.co/static/Maldives.jpg">
        <img src="https://cpts415aviation.xinruli1.repl.co/static/Rome.jpg">
      </div>
    </div>

  </div>

  <p>Copyright 2023, TEX</p>

</body>
</html>
