<!DOCTYPE html>
<html>
    <head>
        <title>Trip Information - Aviation</title>
        <link rel="stylesheet" type="text/css" href="static/styles.css"/>
    </head>
    <body>
        <div class="header-container">
            <h1>Aviation</h1>
            
            <div class="buttons">
              <a href="/" button class="button">Home</a>
              <a href="/airports" class="button">Airport Search</a>
              <a href="/airlines" class="button">Airline Search</a>
              <a href="/aggregation" class="button">Airline Aggregation</a>
              <a href="/recommendation" class="button">Trip Recommendation</a>
            </div>
        </div>

        <div class = "airport-info">
            <header class="sub-header">Trip Information</header>
            {% if trips %}
            <table>
                <thead>
                    <tr>
                        <th>From Country</th>
                        <th>City</th>
                        <th>Airport</th>
                        <th>To Country</th>
                        <th>City</th>
                        <th>Airport</th>
                        <th>Airline Name</th>
                        <th>Stops</th>
                        <th>Plane</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trip in trips %}
                        <tr>
                          <td><a href="{{url_for('country_details', country=trip.SourceCountry)}}">{{trip.SourceCountry}}</a></td>
                          <td>{{trip.SourceCity}}</td>
                          <td><a href="{{url_for('airport_details', airport=trip.SourceAirport)}}">{{trip.SourceAirport}}</a></td>
                          <td><a href="{{url_for('country_details', country=trip.DestinationCountry)}}">{{trip.DestinationCountry}}</a></td>
                          <td>{{trip.DestinationCity}}</td>
                          <td><a href="{{url_for('airport_details', airport=trip.DestinationAirport)}}">{{trip.DestinationAirport}}</a></td>
                          <td>{{trip.AirlineName}}</td>
                          <td>{{trip.Stops}}</td>
                          <td>
                            {% if trip.Plane is string %}
                                {% for number in trip.Plane.split() %}
                                    <a href="{{ url_for('plane_details', plane=number) }}">{{ number }}</a>
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                                <a href="{{ url_for('plane_details', plane=trip.Plane) }}">{{ trip.Plane }}</a>
                            {% endif %}
                        </td>
                        
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p class="message">No trip has been found with the given information.</p>
            {% endif %}
            </div>
    </body>
</html>